{:objects {
           :Friend {:fields {:username {:type String}}}
           :Trip {:fields {:location {:type String}}
                           :start {:type Int}
                           :end {:type Int}}
           :User {:description "all infos about the user of the platform"
                  :fields {:username {:type String
                                      :description "unique identifier because there will be public searchable users"}
                           :trips {:type (list :Trip)}
                           :friends {:type (list :Friend)}
                           :created {:type Int
                                     :description "Unix epoch seconds when user was added to database"}}}}


 :queries {:user {:type :User
                  :description "Retrieve a single user by its id"
                  :args {:id {:type (non-null Int)
                              :description "Unique id for user."}}
                   :resolve :resolve-user}
           :users {:type (list :User)
                   :description "Retrieve all the users of the platform"
                   :resolve :resolve-users}}

 :mutations {:user {:type :User
                    :description "Create a new User"
                    :args {:username {:type (non-null String)
                                      :description "Unique name for game."}}
                    :resolve :resolve-create-user!}}}
